.avatar{
    width:40px;
    height:40px;

    border-radius:50%;

    object-fit:cover;

    overflow:hidden;
}

.avatar-sm{
    width:30px;
    height:30px;
}

.avatar-lg{
    width:60px;
    height:60px;
}