.bg-primary{
    background:var(--primary);
    color: var(--white);
    font-size: 20px;
}

.bg-success{
    background:var(--success);
    color: var(--white);
    font-size: 20px;
}

.bg-danger{
    background:var(--danger);
    color: var(--white);
    font-size: 20px;
}

.bg-dark{
    background:var(--dark);
    color: var(--white);
    font-size: 20px;
}

.text-primary{
    color:var(--primary);
}

.text-danger{
    color:var(--danger);
}

.text-white{
    color:white;
}