v.flex{
    display:flex;
}

.inline-flex{
    display:inline-flex;
}

.flex-column{
    flex-direction:column;
}

.flex-row{
    flex-direction:row;
}

.justify-center{
    justify-content:center;
}

.justify-between{
    justify-content:space-between;
}

.justify-end{
    justify-content:flex-end;
}

.align-center{
    align-items:center;
}

.align-start{
    align-items:flex-start;
}

.flex-wrap{
    flex-wrap:wrap;
}

.gap-1{
    gap:.25rem;
}

.gap-2{
    gap:.5rem;
}

.gap-3{
    gap:1rem;
}