.text-xs{
    font-size:12px;
}

.text-sm{
    font-size:14px;
}

.text-md{
    font-size:16px;
}

.text-lg{
    font-size:20px;
}

.font-light{
    font-weight:300;
}

.font-normal{
    font-weight:400;
}

.font-medium{
    font-weight:500;
}

.font-bold{
    font-weight:700;
}

.text-center{
    text-align:center;
}

.text-right{
    text-align:right;
}